/* 总体样式 */
body{
	margin: 4px 0px 0px 0px;
	padding: 0px;
}

div {
	border: blue solid 1px;
	margin: 0px;
	padding: 0px;
}

/* player样式 */
#player {
	margin: auto;
	width: 800px;
	height: 600px;
}

/* wave-form,波形展示样式 */
#wave-form {
	width: 100%;
	height: 160px;
}

#player input,#player button,#player div {
	float: left;
}

/* controller样式 */
#controller{
	width: 100%;
}

#progress 
{
 background:white;
 height:20px;
 width: 50%;
 height: 4px;
 border:1px solid green;
 margin:9px 0px 0px 0px;
}

#progress span 
{
 background:green;
 height:4px;
 text-align:center;
 display:block;
 color:yellow;
 font-weight:bold;
 font-size:14px;
 width:0%;
}

